@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

h1 {
  font-size: 32px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
  margin-top: 24px;
}

.flex-1 {
  flex: 1;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

.text--purple {
  color: #6030b1;
}

section:nth-child(even) {
  background-color: #f9f5f5;
}

.container {
  padding: 50px 0;
}

.section__title {
  margin-bottom: 48px;
  opacity: 0;
  animation: on-scroll linear forwards;
  animation-timeline: view(75% 0);
}

@keyframes on-scroll {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

a {
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
  cursor: pointer;
}

.about-me__link:last-child {
  color: #242424;
}

i:hover {
  opacity: 0.7;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--black:after {
  background-color: black;
}

.link__hover-effect--white:after {
  background-color: white;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

/* NAVIGATION BAR */

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  margin: 0 12px;
  color: #242424;
  font-weight: 700;
}

.nav__link--anchor-primary {
  background-color: #6030b1;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: #5d3eff;
}

.personal__logo {
  font-size: 24px;
  color: #6030b1;
  margin: 0 12px;
  font-weight: bold;
}

/* ABOUT ME */

#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-me__info {
  display: flex;
  flex-direction: column;
}

.about-me__info--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.about-me__picture {
  width: 100%;

  /* Improving my own picture */

  transform: scale(1.85);
}

.about-me__picture--mask {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  margin-bottom: 28px;
  animation: animate-profile-picture 800ms 200ms backwards;
}

@keyframes animate-profile-picture {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.about-me__info--title {
  margin-bottom: 16px;
  animation: fade-up 650ms 400ms backwards;
}

.about-me__links {
  margin-bottom: 28px;
  animation: fade-up 650ms 800ms backwards;
}

.about-me__info--para {
  font-size: 20px;
  margin-bottom: 28px;
  animation: fade-up 650ms 600ms backwards;
}

.about-me__link {
  font-size: 20px;
  padding: 0 16px;
  color: #242424;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
  margin-top: 24px;
  position: relative;
}

.about-me__img--speech-bubble {
  display: flex;
  position: absolute;
  font-weight: bold;
  left: 25%;
  top: 10%;
  max-width: fit-content;
  /* typing-animation-and-blinking-caret */
  border-right: .15em solid #6030b1;
  white-space: nowrap;
  margin: 0 auto;
  width: 0%;
  overflow: hidden;
  animation: blink-caret 1s step-end infinite;
}

.about-me__img--container:hover .about-me__img--speech-bubble {
  animation: typing 5s steps(80, end) forwards,
  blink-caret 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #6030b1; }
}

.about-me__img {
  width: 100%;
  animation: fade-in 1200ms 800ms backwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wave {
  display: inline-block;
  animation: animate-wave 1s infinite ease-in-out;
}

@keyframes animate-wave {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0);
  }
}

/* TECH - STACK  */

.language__img {
  width: 100%;
  max-width: 100px;
  transition: all 300ms ease;
}

.language:hover .language__img {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}

.language {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
}

.language__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.language__name {
  transform: scale(0);
  transition: all 300ms;
  font-size: 20px;
  opacity: 0;
}

.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
}

/* PROJECTS */

.project {
  margin-bottom: 135px;
}

.project:last-child {
  margin-bottom: 40px;
}

.project__img {
  width: 100%;
  transition: all 500ms ease;
}

.project__wrapper {
  display: flex;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.project__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  z-index: 2;
  transition: opacity 450ms ease;
}

.project:hover .project__wrapper:before {
  opacity: 0.8;
}

.project:hover .project__img {
  transform: scale(1.05);
  filter: blur(2.5px);
}

.project:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms;
}

.project__description--title {
  font-size: 40px;
  margin-bottom: 8px;
}

.project__description--para {
  margin: 16px 0;
}

.project__description--link {
  margin-right: 16px;
  font-size: 20px;
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
  text-align: left;
  color: white;
}

/* FOOTER */

footer {
  background-color: #242424;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8% 0;
}

.footer__social--link,
.footer__copyright,
.footer__logo--popper {
  color: white;
}

.footer__logo--popper {
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 700;
  opacity: 0;
  transition: all 300ms ease;
}

.footer__logo--name {
  color: white;
  font-size: 40px;
  margin-bottom: 16px;
}

.footer__anchor {
  position: relative;
  margin-bottom: 20px;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.footer__anchor:hover .footer__logo--popper {
  transform: translateX(60px);
  opacity: 1;
}

@media (max-width: 768px) {
  nav {
    height: 68px;
  }

  h1 {
    font-size: 28px;
  }

  .about-me__info--para {
    font-size: 18px;
  }

  .language {
    width: calc(100% / 2);
    margin-bottom: 30px;
  }

  .project__description--para {
    font-size: 14px;
  }

  .project__description {
    left: 30px;
    padding-right: 30px;
  }

  .project__description--title {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .nav__link:not(:last-child) {
    display: none;
  }

  .project__description--para {
    display: none;
  }

  .project__description--links {
    display: flex;
    justify-content: center;
  }

  .project__description__link {
    margin: 0 8px;
  }

  .project__description {
    padding: 0;
    left: 0;
    width: 100%;
  }

  .project__description--title {
    font-size: 20px;
    line-height: 1;
    text-align: center;
  }

  .project__description--sub-title {
    text-align: center;
    font-size: 12px;
    margin: 12px 0;
  }

  #languages .container {
    padding-bottom: 25px;
  }
}
